<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/login_register.css}">
</head>
<body>
    <div class="form-container">
        <h2>Register</h2>

        <p th:if="${param.error}" class="errorMessage">This username already exists!</p>

        <form th:action="@{save}" method="post">
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-group">
                <label for="role">Role:</label>
				<select id="role" name="role" required>
				    <option value="STUDENT">Student</option>
				    <option value="PROFESSOR">Professor</option>
				    <option value="COMPANY">Company</option>
				    <option value="TRAINEESHIP_COMMITEE_MEMBER">Traineeship Committee Member</option>
				</select>
            </div>
            <button type="submit" class="btn">Sign Up</button>
        </form>

        <p class="form-footer">
            Already have an account? <a th:href="@{/login}">Login here</a>
        </p>
    </div>
</body>
</html>
