<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>Student Traineeship Application</title>
</head>
<body>
    <div class="container">
        <p class="h4 mb-4">Student Traineeship Application</p>
		<p th:if="${param.error}" class="errorMessage" style="color:red">You have not created a profile!</p>
        <form action="#" th:action="@{/student/save_application}" th:object="${application}" method="POST">
			<input type="hidden" th:field=*{applicationId} />
			<input type="hidden" th:field=*{studentId} />
			
			<label for="applicationDate">Application Date And Time</label>
			<input type="text" id="applicationDate" th:field="*{applicationDate}" class="form-control mb-4 col-4" readonly/>
			
			<label for="status">Status</label>
			<input type="text" id="status" th:field=*{status} class="form-control mb-4 col-4" readonly/>
			
			<button type="submit" class="btn btn-primary">Submit Application</button>
			<a th:href="@{/student/dashboard}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
</html>
