<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Available Positions</title>
</head>
<body>
    <div class="container">
        <h2>Available Positions</h2>
		<br>
		<p th:if="${param.error_company_profile}" style="color: red" class="errorMessage">You must create a profile to create a position!</p>
		<br>
		<a th:href="@{/company/create_new_position}" class="btn btn-primary btn-sm mb-3">Create New Position</a>
		<a th:href="@{/company/dashboard}" class="btn btn-secondary btn-sm mb-3">Back to Dashboard</a>
		<br><br>
        <div class="table">
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Title</th>
						<th>Description</th>
						<th>Duration</th>
                        <th>Topics</th>
						<th>skills</th>
						<th>Actions</th>
                    </tr>
                </thead>
				<tbody>
				    <tr th:each="position : ${advertisedPositions}">
				        <td th:text="${position.title}"></td>
				        <td th:text="${position.description}"></td>
						<td th:text="|${#temporals.format(position.fromDate, 'dd/MM/yyyy')} - ${#temporals.format(position.toDate, 'dd/MM/yyyy')}|"></td>
						<td th:utext="${#strings.replace(position.topics, ', ', '<br>')}"></td>
				        <td th:utext="${#strings.replace(position.skills, ', ', '<br>')}"></td>
				        <td>
				            <a th:href="@{/company/delete_position(id=${position.positionId})}" class="btn btn-danger">delete</a>
				        </td>
				    </tr>
				</tbody>
            </table>
        </div>
    </div>
</body>
</html>
